{% extends 'main/templates/base.html' %}

{% block title %} Home {% endblock %}

{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-lock" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> Password Strength Checker</h5>
                    <hr />
                    <p class="card-text">Assess the robustness of your passwords to ensure they are strong and secure against potential threats.</p>
                    <a href="{% url 'password_strength:checker' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-keyboard" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> Keylogger</h5>
                    <hr />
                    <p class="card-text">Monitor and record keyboard inputs to detect unauthorized activity.</p>
                    <a href="{% url 'keylogger:logger' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-lock" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> Cryptography Tool</h5>
                    <hr />
                    <p class="card-text">Encrypt and decrypt messages to secure sensitive information.</p>
                    <a href="{% url 'cryptography:encrypt_decrypt' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-hashtag" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> Hash Generator</h5>
                    <hr />
                    <p class="card-text">Attempt to generate all the possible hash values from the given plain text.</p>
                    <a href="{% url 'password_cracker:cracker' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-exclamation-triangle" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> Phishing URL Detector</h5>
                    <hr />
                    <p class="card-text">A tool that checks URLs for phishing indicators to determine their safety.</p>
                    <a href="{% url 'phishing_detector:phishing_detector' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-map-marker-alt" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> IP Geolocation Finder</h5>
                    <hr />
                    <p class="card-text">A tool that locates the geographical position of an IP address.</p>
                    <a href="{% url 'geolocation_finder:geolocation_finder' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-database" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> DNS Lookup Tool</h5>
                    <hr />
                    <p class="card-text">Quickly retrieves detailed DNS records for a specified domain name.</p>
                    <a href="{% url 'dns_lookup:dns_lookup' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-shield-alt" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i> SSL/TLS Certificate Checker</h5>
                    <hr />
                    <p class="card-text">Check the validity and security of an SSL/TLS certificate for any domain.</p>
                    <a href="{% url 'ssl_checker:ssl_tls_checker' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-search" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i>
                        OSINT Aggregator</h5>
                    <hr />
                    <p class="card-text">Collect and analyze publicly available information about domains and email addresses for enhanced threat intelligence.</p>
                    <a href="{% url 'osint_aggregator:osint_aggregator' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-network-wired" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i>
                        Port Scanner</h5>
                    <hr />
                    <p class="card-text">Identify open ports and services on a target system to assess network security and uncover vulnerabilities.</p>
                    <a href="{% url 'port_scanner:port_scanner' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                <h5 class="card-title"><i class="fas fa-shield-alt" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i>
                        API Security Tester</h5>
                    <hr />
                    <p class="card-text">Analyze and identify vulnerabilities in your APIs to ensure they are secure against potential threats.</p>
                    <a href="{% url 'api_security_tester:api_security_tester' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card tool-item" style="width: 100%;">
                <div class="card-body">
                <h5 class="card-title"><i class="fas fa-mask" style="font-size: 1.5rem; color: #007bff; margin-right: 0.5rem;"></i>
                        Social Engineering Simulator</h5>
                    <hr />
                    <p class="card-text">Simulates social engineering attacks to test and improve organizational resilience against manipulative tactics and phishing.</p>
                    <a href="{% url 'social_engineering:social_engineering_simulator' %}" class="btn btn-primary"><i class="fas fa-arrow-right"></i> Go to Tool</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
